.Navbar {
  position: fixed; /* Hace que el navbar se fije en la parte superior */
  top: 0; /* Asegura que el navbar esté siempre en la parte superior */
  left: 0;
  width: 100%;
  background-color: transparent; /* Fondo transparente */
  padding: 10px 0; /* Añade un espacio alrededor del navbar */
  z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
}

.Navbar ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Centra los elementos del navbar horizontalmente */
}

.Navbar ul li {
  margin-right: 20px;
}

.Navbar ul li a {
  color: #f80909;
  text-decoration: none;
  padding: 8px 15px; /* Añade espacio alrededor de los enlaces para que parezcan botones */
  border-radius: 5px; /* Agrega esquinas redondeadas para que los enlaces parezcan botones */
}

.Navbar ul li a:hover {
  background-color: rgb(
    43,
    228,
    18
  ); /* Cambia el color de fondo al pasar el ratón por encima */
}
